
.fakeimg {
    height: 350px;
    width: 350px;
    background: #aaa;
  }
  
 p{text-align:left;font-weight:bold;}

.tab > section > p {
            margin: 0 0 20px;
            line-height: 1.5;}
                
.tab > section {
            display: none;
            padding: 20px 0 0;
            border-top: 1px solid #ddd;}

        /*라디오버튼 숨김*/
#tab1  {
              display: none;}
#tab2  {
              display: none;}
#tab3  {
              display: none;}
#tab4  {
              display: none;}

.tab > label {
            display: inline-block;
            margin: 0 0px -1px;
            padding: 15px 76px;
            font-weight: 600;
            text-align: center;
            color: #bbb;
            border: 1px solid transparent;}

.tab > label:hover {
            color: #2e9cdf;
            cursor: pointer;}

        /*input 클릭시, label 스타일*/
.tab input:checked + label {
              color: #555;
              border: 1px solid #ddd;
              border-top: 1px solid black;
              border-bottom: 1px solid #ffffff;}

        #tab1:checked ~ #content1,
        #tab2:checked ~ #content2,
        #tab3:checked ~ #content3,
        #tab4:checked ~ #content4 {
            display: block;}